<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Songjl.GitHub.com : 宋江凌的个人blog">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/songjl">View on GitHub</a>

          <h1 id="project_title">Songjl.GitHub.com</h1>
          <h2 id="project_tagline">I am hardworking Web Front End Engineer.</h2>
          <h3>
            About this page:it looks like a study diary for me.Contact me <a href="mailto:369588882@qq.com">369585552@qq.com</a> if you are interest with me. 
          </h3>

        </header>
    </div>
    <aside>
    </aside>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <article>
          {{ content }}
        </article>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://songhlc.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
